<div class="col-sm-8 blog-main">

  <form id='signin_form' class="form-horizontal" action='/signin' method='post'  role="form">
    <h2 class="form-signin-heading">请登录</h2>

    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">用户名</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" size='30' placeholder="用户名">
      </div>
    </div>
    <div class="form-group">
      <label for="pass" class="col-sm-2 control-label">密码</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pass" name="pass" size='30' placeholder="密码">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-lg btn-primary" type="submit">登录</button>
        <button class="btn btn-lg btn-info" type="button">通过GitHub登录</button>
        <a id="forgot_password" href='/search_pass'>忘记密码了?</a>
      </div>
    </div>
    <input type='hidden' name='_csrf' value='<%= csrf %>'/>
  </form>

</div>
<%- partial('../sign/sidebar') %>
