<div class="blog-post">
  <h2 class="blog-post-title"><a href='/topic/<%= topic._id %>' style="text-decoration: none;"><%= topic.title %></a></h2>
  <p class="blog-post-meta">
    <% if (topic.top) { %>
    <span class='label label-success'>置顶</span>
    <% } else if (topic.good) { %>
    <span class='label label-success'>精华</span>
    <% } else if (typeof(tab) !== 'undefined' &&  tab === 'all' && topic.tabName) { %>
    <span class="label label-default"><%= topic.tabName %></span>
    <% } %>
    <%= topic.create_at_ago() %>
    <a href="#"><%= topic.author.loginname %></a>
  </p>

  <p><%= topic.description %></p>
  <hr>
</div><!-- /.blog-post -->
