<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- meta -->
  <meta charset="utf-8"/>
  <meta name='description' content='<%= config.description %>'>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="keywords" content="<%= config.keywords %>"/>
  <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
  <meta name="referrer" content="always">

  <%
  var headers = config.site_headers || [];
  for (var i = 0, l = headers.length; i < l; i++) {
  %>
  <%- headers[i] %>
  <% } %>

  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>

  <% if (config.site_icon) { %>
  <link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
  <% } %>

  <!-- style -->
  <%- Loader()
  .css('/public/libs/bootstrap-3.3.0/css/bootstrap.css')
  .css('/public/stylesheets/blog.css')
  .done(assets, config.site_static_host, config.mini_assets)
  %>

  <!-- scripts -->
  <%- Loader()
  .js('/public/libs/jquery-2.1.0.js')
  .js('/public/libs/bootstrap-3.3.0/js/bootstrap.js')
  .done(assets, config.site_static_host, config.mini_assets)
  %>

  <% if (typeof(topic) !== 'undefined') { %>
  <title><%= topic.title %> - <%= config.name %></title>
  <% } else if (typeof(pageTitle) !== 'undefined') { %>
  <title><%= pageTitle %> - <%= config.name %></title>
  <% } else { %>
  <title><%= config.description %></title>
  <% } %>
  <meta content="_csrf" name="csrf-param">
  <meta content="<%= csrf %>" name="csrf-token">

</head>

<body>

<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <% [['index', '首页'], ['share', '大数据'],['ask', '编程语言'],['job', '互联网'],['about', '关于' ]].forEach(function (pair) {
      var value = pair[0];
      var text = pair[1]; %>
      <a href="<%= value ? '/' + value : '/' %>"
         class="blog-nav-item <%= value === nav ? 'active' : '' %>"><%= text %></a>
      <% }) %>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>

      <div class="navbar-right">
      <% if (current_user) { %>
      <a class="blog-nav-item" href='/setting'>设置</a>
      <a class="blog-nav-item" href='/signout' data-method="post" rel="nofollow">退出</a>
      <% } else { %>
      <a class="blog-nav-item" href='/signup'>注册</a>
      <a class="blog-nav-item" href='/signin'>登录</a>
      <% } %>
      </div>

    </nav>
  </div>
</div>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title"><%= config.name %></h1>
    <p class="lead blog-description"><%= config.description %></p>
  </div>

  <div class="row">
      <%- body %>
  </div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
  <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</div>

</body>
</html>
